<h1 class="text-center my-2">Detalhes:</h1>

<ng-template [ngIf]="isLoading">
  <div class="card">
    <google-map width="386" height="300" [center]="googleLatLng">
      <map-marker [position]="googleLatLng"></map-marker>
    </google-map>
    <div class="card-body">
      <h5 class="card-title">{{ contribute.department }}</h5>
      <p class="card-text">{{ contribute.content }}</p>
    </div>
  </div>
  <div class="row my-2 text-end">
    <div>
      <button
        type="button"
        [routerLink]="['/contributions']"
        class="btn btn-primary btn-lg"
      >
        Voltar
      </button>
    </div>
  </div>
</ng-template>
